header {
	position: relative;
}

.logo {
	padding-top: 1.4vw;
	margin-left: 3%;
	position: absolute;
     width: 15vw;
	height: 6vw;
	display: inline-block;
}

.img-h {
	margin-right: -0.7vw;
	display: inline-block;
	width: 22%;
	vertical-align: middle;
}


.logo-title {
	margin-top: 0.6vw;
	vertical-align: middle;
	display: inline-block;
	color: white;
	font-size: 3vw;
	font-family: poppins;
}


.nav-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 55%;
}

.nav-li {
	text-decoration: none;
	font-family: Poppins;
	color: white;
	font-size: 1.3vw;
}

.cont {
	height: 8vw;
  background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;

}


.burger {
	display: none;
	width: 5vw;
	position: absolute;
	top: 2vw;
	right: 1vw;
}


@media only screen and (max-width: 1008px) {
 

     header {
	position: relative;
}

.burger {
	display: inline-block;
	width: 5vw;
	position: absolute;
	top: 2vw;
	right: 1vw;
}

.logo {
	margin-top: 2vw;
	padding-top: 0.7vw;
	margin-left: 5%;
	position: absolute;
    width: 15vw;
	height: 5vw;
	display: inline-block;
}

.img-h {
	margin-right: -0.7vw;
	display: inline-block;
	width: 23%;
	vertical-align: middle;
}


.logo-title {
	margin-top: 0.6vw;
	vertical-align: middle;
	display: inline-block;
	color: white;
	font-size: 4vw;
	font-family: poppins;
}


.nav-container{
	display: none;
	flex-direction: row;
	justify-content: space-between;
	width: 45%;
}

.nav-li {
	text-decoration: none;
	font-family: Poppins;
	color: white;
	font-size: 0.8vw;
}

.cont {
	height: 10vw;
  background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;

}



}





@media only screen and (max-width: 510px) {
 

     header {
	position: relative;
}

.burger {
	display: inline-block;
	width: 13vw;
	position: absolute;
	top: 2vw;
	right: 1vw;
}

.logo {
	margin-top: 2vw;
	padding-top: 0.7vw;
	margin-left: 5%;
	position: absolute;
    width: 30vw;
	height: 5vw;
	display: inline-block;
}

.img-h {
	margin-right: -0.7vw;
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}


.logo-title {
	margin-top: 0.6vw;
	vertical-align: middle;
	display: inline-block;
	color: white;
	font-size: 8vw;
	font-family: poppins;
}


.nav-container{
	display: none;
	flex-direction: row;
	justify-content: space-between;
	width: 45%;
}

.nav-li {
	text-decoration: none;
	font-family: Poppins;
	color: white;
	font-size: 0.8vw;
}

.cont {
	height: 18vw;
  background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;

}



}